<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1>Edit profile</h1>
        <p>shows a basic info about you. fill this out so other users can look you up easily.</p>
        <div class="well">
            <%= render 'form' %>
        </div>
    </div>
</div>