.title-icon {
    
    width: 50px;
    height: 50px;
    text-align: center;
    border: 2px solid #2e6da4;
    border-radius: 5px;
    display: inline-block;
    background-color: #337ab7;
    color: white;
    
}

.well.profile-description{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    
}

.profile-description h3, .contact-info h3{
    margin-top :0;
}

.contact-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}